.background-image {
    background-image: url("../images/grey-geometrical-shapes-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*width: 200px;*/
    height: 100vh;

}

footer {
    background-color: coral;
    padding-top:50px;
    color: azure;
}

.butn {
    margin-left: 800px;
    margin-bottom: 2px;
}

