.background-pix{
    background-image: url("../images/beautiful-scenery-road-forest-with-lot-colorful-autumn-trees_181624-30942.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*width: 200px;*/
    height: 100vh;

}

.gallery-upload{
    margin-right: 100px;
}

.row a h3{
    color: aliceblue;
}

footer {
    background-color: rgb(166, 157, 173);
}

